<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>移动书店管理系统</title>
    <script type="text/javascript" src="../../public/javascripts/jquery.js"></script>
    <script type="text/javascript" src="../../public/javascripts/jquery-form.js"></script>
    <script type="text/javascript" src="../../public/javascripts/login.js"></script>
    <link  rel="stylesheet" href="../../public/stylesheets/login.css">
</head>
<body>
<div id="login">
    <form>
        <p id="username-field">
            <label for="username">账号：</label>
            <input type="text" name="username" id="username"/>
        </p>

        <p id="password-field">
            <label for="password">密码：</label>
            <input type="password" name="password" id="password"/>
        </p>
        <input style="margin-left:320px; font-size: 12px;background-color:#97CBFF;border:1" type="submit" onclick="login()" value="登录"/>
    </form>

 </div>
</body>
</html>