.adminHeader{
background: #111111;
padding: 1px 1px;
font-family: 'Helvetica', 'Arial', 'Sans';
font-size: 90%;
color: #111;
}
.footer{
font-size: 80%;
color: #aaa;
padding: 10px 20px;
border-top: 1px dashed #ccc;
border-bottom: 1px dashed #ccc;
margin-top: 20px;
}

.butClass{
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}

.file-box{ position:relative;width:340px}
.txt{ height:22px; border:1px solid #cdcdcd; width:180px;}
.btnLoad{ background-color:#FFF; border:1px solid #CDCDCD;height:24px; width:70px;}
.file{ position:absolute; top:0; right:80px; height:24px; filter:alpha(opacity:0);opacity: 0;width:260px }